@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/larger";
@import "font-awesome/fixed-width";
@import "font-awesome/list";
@import "font-awesome/bordered-pulled";
@import "font-awesome/spinning";
@import "font-awesome/rotated-flipped";
@import "font-awesome/stacked";
@import "font-awesome/icons";

@import url(http://fonts.googleapis.com/css?family=Lato:300);


$font-family : "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
$dark-red-pastel : #C23B22;
$light-red-pastel : #FF6961;

/* ==========================================================================
 * Globals Base
   ========================================================================== */
body {
  position: relative;
  font-family: $font-family;
  text-align: center;
  color: black;



  }

h1 {
      font-size: 60px;
      font-weight: 100;
   }
h2, h3, h4, .h4 {
    font-weight: 100;
    margin-bottom: 20px;
}

a {

    color: white;

    &:hover{
    	color: $light-red-pastel;
      text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}

hr {
  margin-bottom:40px;
}

.section {
  padding-bottom: 40px;
}

/* ==========================================================================
 * Globals Compents
   ========================================================================== */
.down-arrow {
  border-color: #FFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 33px;
  text-align: center;
  margin: 0 auto;
  opacity: 0;


  &:hover {
    background-color:rgba(255, 255, 255, 0.25)
  }
}

.bottom {
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  bottom:10%;
}


.nopadding {
  padding: 0 ;
  margin: 0;
}

.title {
  text-align: center;
}

.circle {
  position:relative;
  width:160px;
  height:160px;
  top:0px;
  margin:0 auto;
  padding-top:22px;
  border-radius:128px;
  border:2px solid $light-red-pastel;
  background-color:#FFF;
  overflow-x:hidden;
  }


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 2px 0 0;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  list-style: none;
  background-color: #FAF7F5;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;

  li {
    a {
      font-weight: 200;

    &:hover, &:focus {
        background-color: #e7e7e7;
      }
    }
  }
}

.icon {
  display: block;
  width: 94px;
  height: 94px;
  margin: 0 auto;
}
/* ==========================================================================
 * Navigation
   ========================================================================== */

nav {
  z-index: 1;
  width: 100%;

  .navbar-default {
    position: fixed !important;
  }
}

.navbar {

  background: #FAF7F5;
  position: fixed;
  border-radius: 0px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  opacity: 0;
  z-index: 2;
  display: block;

  .navbar-brand {
    color: black;
    font-weight: 100;
    font-size: 25px;
  }

  .nav li.active {
    background: #e7e7e7;
  }

  a {

      color: black;

      &:hover {
        color: $light-red-pastel;
        text-decoration: none;
      }
      &:visited{
          text-decoration: none;
      }
      &:focus{
          text-decoration: none;
      }
  }
}

.navbar-default {
  .navbar-nav>li>a {
    font-weight: 200;
    color: black;
  }

  .navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: #777;
    background-color: transparent;

  }

  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    color: #777;
    background-color: #e7e7e7;
  }
}


.secondary-nav {

  text-align: center;
  font-weight: 200 ;
  margin-top: 20px;

  a {
    margin-top:12px;
  }

  a:hover{
      color: #FFF;
    }

  .nav-list {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;

    &>li {
      margin-bottom: 20px;
      opacity: 0;

    }
  }

  .navbutton {

        background: transparent;
        padding: 12px 22px;
        border: 1px solid #FFF;
        border-radius: 2px;
        width: 80%;



        &:hover {
          background-color:rgba(255, 255, 255, 0.25)
        }
    }

}


/* ==========================================================================
 * Sections
   ========================================================================== */

// Intro
#intro {

  height: 100vh;
  background-image: linear-gradient(160deg,$dark-red-pastel 10%,$light-red-pastel 80%);
  position: relative;

  h1, h2 {
    color: white;
  }

}

.intro {
  margin-top: 10%;
}
// Myself
#myself {
  color: black;
  margin-bottom: 0px;

  .profile-box {
    text-align: left;


    h2 {
      text-align: center;
      color: black;
    }

    .circle {
      top: 180px;
      opacity: 0;
      display: none;
    }
    .summary {
      background: white;
      margin-bottom: 40px;
      color: red;

      span.black {
        color: black;
      }
    }
  }
}

.bio {
    margin-top: 30px;
    text-align: justify;

}
// A Few Things
#things {
  background-image: linear-gradient(160deg,#FAF7F5 30%,rgba(251,248,245,0) 82%);
  border-bottom: 1px solid #DBD9D5;
  border-top: 1px solid #DBD9D5;


  .moreThings {

    a {

      color: black;

      &:hover {
        color: $light-red-pastel;
      }

      &:visited{
          text-decoration: none;
      }
      &:focus{
          text-decoration: none;
      }
    }

  }
}

// Toolbelt
#toolbelt {
  .toolbelt-img {
    max-height: 140px;
    border: 0px;
  }

  .tool {
    //min-height: 140px;
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
 }
}

// Contact
#contact {
  background-image: linear-gradient(160deg,$dark-red-pastel 10%,$light-red-pastel 80%);
  color: white;

  a {

    color: white;

    &:hover {
      text-decoration: underline;
    }

    &:visited{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
  }

  .copywrite {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
  }

  .fa {
    display: block;
  }

}


// Site Map
#siteMap {
  text-align: left;
  padding-bottom: 20px;

  ul {
    list-style-type: none;
    margin-top: 20px;

    li {
      height: 25px;
      font-weight: 200;
    }
  }

  a {
    color: black;

    &:hover {
      color: $light-red-pastel;
    }

    &:visited{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
  }

  .copywrite {
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
  }

}

/* ==========================================================================
 * Carousel
   ========================================================================== */


.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: $light-red-pastel;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  border: 1px solid $light-red-pastel;
  background: #FFF;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

div.owl-dot {
  display: inline-block;
}

/* ==========================================================================
 * Animations
   ========================================================================== */

// Slide Down
.slideDown{
   -webkit-animation: slideDown 1s; /* Chrome, Safari, Opera */
   animation: slideDown 1s;
   opacity: 1 !important;


}

/* Chrome, Safari, Opera */
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform:translateY(-40px);
    transform:translateY(-40px);
    opacity: 0;
    }
  100% {
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    opacity: 1;
    }
}

/* Standard syntax */
@keyframes slideDown {
  0% {
    -webkit-transform:translateY(-40px);
    transform:translateY(-40px);
    opacity: 0;
    }
  100% {
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
    opacity: 1;
    }
}

// Pop Up

.popUp{
   -webkit-animation: popUp 1s; /* Chrome, Safari, Opera */
   animation: popUp 1s;
   z-index: -1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes popUp {
  0% {
    top:180px;
    opacity: 0;
    }
  100% {
    top:0px;
    opacity: 1;
    }
}

/* Standard syntax */
@keyframes popUp {
  0% {
    top:180px;
    opacity: 0;
    }
  100% {
    top:0px;
    opacity: 1;
    }
}


// Fade In

.fadeIn{
   -webkit-animation: fadeIn 1s; /* Chrome, Safari, Opera */
   animation: fadeIn 1s;
   opacity: 1 !important;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }
}

/* Standard syntax */
@keyframes fadeIn {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }
}

/* ==========================================================================
 * Media Queries
   ==========================================================================*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .owl-stage-outer {
    height: 450px;
  }


  .secondary-nav {
    .navbutton {
        padding: 12px 22px;
        border: 1px solid #FFF;
        border-radius: 2px;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;

    }

    .nav-list {
      &>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }

  .dropdown:hover .dropdown-menu {
        display: block;
    }

  #contact {
    .fa {
      display: inline-block;
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {

  .intro {
    margin-top: 20%;
  }

}


// iOS 7 fix for vh
@import"ios/_iosMediaQueries";


/* ==========================================================================
 * No Js
   ==========================================================================*/

noscript {


    .nav-list {
      padding-left: 0 !important;
      margin-left: -5px !important;
      list-style: none !important;

      &>li {
        margin-bottom: 20px !important;
        opacity: 1 !important;

      }
    }

  .down-arrow{
    opacity: 1 !important;
  }


  .circle {
    top: 0px !important;
    opacity: 1 !important;
    display: block !important;
  }
}
