@import "font-awesome/variables";
@import "font-awesome/mixins";
@import "font-awesome/path";
@import "font-awesome/core";
@import "font-awesome/larger";
@import "font-awesome/fixed-width";
@import "font-awesome/list";
@import "font-awesome/bordered-pulled";
@import "font-awesome/spinning";
@import "font-awesome/rotated-flipped";
@import "font-awesome/stacked";
@import "font-awesome/icons";

$font-family : "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
$dark-red-pastel : #C23B22;
$light-red-pastel : #FF6961;

/* ==========================================================================
 * Globals Base
   ========================================================================== */
body {
  	font-family: $font-family;
  	text-align: center;
    color: black;

  }

h1 {
      font-size: 60px;
      font-weight: 100;
   }
h2, h3, h4, .h4 {
    font-weight: 100;
    margin-bottom: 20px;
}

a {

    color: white;

    &:hover{
    	color: $dark-red-pastel;
      text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}

hr {
  margin-bottom:40px;
}

.section {
  padding-bottom: 40px;
}

/* ==========================================================================
 * Globals Compents
   ========================================================================== */
.down-arrow {
  border-color: #FFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 33px;
  text-align: center;
  margin: 0 auto;
}

.bottom {
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  bottom:10%;
}


.nopadding {
  padding: 0 ;
  margin: 0;
}

.title {
  text-align: center;
}

.circle {
  position:relative;
  width:160px;
  height:160px;
  top:0px;
  margin:0 auto;
  padding-top:22px;
  border-radius:128px;
  border:2px solid $light-red-pastel;
  background-color:#FFF;
  overflow-x:hidden;
  }

/* ==========================================================================
 * Navigation
   ========================================================================== */

.secondary-nav {

  text-align: center;
  font-weight: 200 ;
  margin-top: 20px;

  a {
    margin-top:12px;
  }

  a:hover{
      color: #FFF;
    }

  .navbutton {
        padding: 12px 22px;
        border: 1px solid #FFF;
        border-radius: 2px;

        &:hover {
          background-color:rgba(255, 255, 255, 0.25)
        }
    }

}


/* ==========================================================================
 * Sections
   ========================================================================== */

// Intro
#intro {
  height: 100vh;
  background-image: linear-gradient(160deg,$dark-red-pastel 10%,$light-red-pastel 80%);
  position: relative;

  h1, h2 {
    color: white;
  }

}

.intro {
  margin-top: 20%;
}
// Myself
#myself {
  color: black;
  margin-bottom: 0px;

  .profile-box {
    text-align: left;

    h2 {
      text-align: center;
    }

    .summary {
      margin-bottom: 40px;
    }
  }
}

.bio {
    margin-top: 30px;
    text-align: justify;

}
// A Few Things
#things {
  background-image: linear-gradient(160deg,#FAF7F5 30%,rgba(251,248,245,0) 82%);
  border-bottom: 1px solid #DBD9D5;
  border-top: 1px solid #DBD9D5;
}

// Contact
#contact {
  background-image: linear-gradient(160deg,$dark-red-pastel 10%,$light-red-pastel 80%);
  color: white;

  a {

    color: white;

    &:hover {
      text-decoration: underline;
    }

    &:visited{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
  }

}

// Site Map
#siteMap {
  text-align: left;

  ul {
    list-style-type: none;
    margin-top: 20px;

    li {
      height: 25px;
      font-weight: 200;
    }
  }

  a {
    color: black;

    &:hover {
      color: $light-red-pastel;
    }

    &:visited{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
  }

}

/* ==========================================================================
 * Carousel
   ========================================================================== */

#carousel-portfolio {

  min-height: 520px;
  margin-bottom: 40px;

  .carousel-inner {
    min-height: 520px;
  }

  .carousel-control {
    background-image: none;
  }

  .item {
  }

  .carousel-indicators li {
    border: 1px solid $light-red-pastel;
  }

  .carousel-indicators .active{
    background-color: $light-red-pastel;
  }

  .carousel-indicators {
    bottom: -60px;
  }

}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #carousel-portfolio {
    height: 50vh;

    .carousel-inner {
      height: 50vh;
    }
  }
}
