<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Philippe Roy | Web Developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body data-spy="scroll" data-target=".navbar-default" data-offset="50">
