<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
 -->
<script src="/javascripts/jquery-1.11.1.min.js"></script>

<!-- This following line is needed in case of using the default easing option or when using another
 one rather than "linear" or "swing". You can also add the full jQuery UI instead of this file if you prefer -->
<!-- <script src="/javascripts/jquery.easings.min.js"></script>
 -->

<!-- This following line needed in the case of using the plugin option `scrollOverflow:true` -->
<!-- <script type="text/javascript" src="/javascripts/jquery.slimscroll.min.js"></script>
 -->
<script type="text/javascript" src="/javascripts/jquery.fullPage.js"></script>
<script src="/javascripts/bootstrap.min.js"></script> 


<script>
$(document).ready(function() {

    $('#fullpage').fullpage({
      scrollingSpeed: 1000,
      easing: 'ease',
      css3: true,
      anchors:['intro','myself','things','contact'],
      sectionSelector: '.part',
      verticalCentered: false,
      resize: false,
      autoScrolling: true,
      menu: true,
      navigation: true,
    });
});
</script>