{{> header}}
	
<div class="main">
	<section class="page1">
	  	<div class="container">
	      	<div class="outer-intro">
			    <div class="table-container">
			        <div class="table-cell">
			            <div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<div class="intro">
									<h1>{{name}}</h1>
									<h2>{{title}}</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<!-- add loop for buttons -->
								<button type="button" class="btn btn-default"><a href="#myself">myself</a></button>
								<button type="button" class="btn btn-default"><a href="#things">a few things</a></button>
								<button type="button" class="btn btn-default"><a href="contact">contact</a></button>
							</div>
						</div>
					</div>
				</div>
		 	</div>
		</div>
    </section>
	<section id="myself">
		<div class="container">
			<div class="row">
				<h2>Hello</h2>
				<hr>
			</div>
			<div class="row">
				<div class="col-md-12"><img class="img-responsive center-block img-circle" widht="300" height="300" src="/images/profile.jpg" alt="Philippe Roy " />
				<p style="text-align:justify;">adfafdadfadsd
				</p></div>
				
			</div>
		</div>
	</section >
    <section id="things" >
	      	<div class="row full">
				<div class="col-md-12 full">
				
					<div id="owl-example" class="owl-carousel full">
	  					<div class="container full">
					  		<div class="full" style="border:1px solid #FF0000;">
					  			<div class="table-container">
					  				<div class="table-cell">
			            				<div class="row">
											<div class="col-md-4"></div>
											<div class="col-md-4">
													<div class="intro">
														<h1>{{name}}</h1>
														<h2>{{title}}</h2>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4"></div>
												<div class="col-md-4">
													<!-- add loop for buttons -->
													<button type="button" class="btn btn-default">myself</button>
													<button type="button" class="btn btn-default">a few things</button>
													<button type="button" class="btn btn-default">contact</button>
												</div>
											</div>
										</div>
									</div>
			 					</div>	
		 					</div>

					  	<div>sadfasd</div>
					  	<div>sadfasd</div>
					  	<div>sadfasd</div>

					  	<div>sadfasd</div>
					  	<div>sadfasd</div>
					  	<div>sadfasd</div>

					  	<div>sadfasd</div>
					  	<div>sadfasd</div>
					  	<div>sadfasd</div>

					</div>
				</div>
			</div>
	    </div>
    </section>
    
    <section id="contact" >
    	<div class="container">
	       	<div class="row">
				<div class="col-md-12">
					<h2>Contact</h2>
				</div>
				<div class="col-md-4">
				<div class="intro">
					<h1>E: </h1>
					<h2>L: </h2>
				</div>
			</div>
		</div>
    </section>
</div>

{{> footer}}