{{> header}}
	
<div class="main">
	<section class="page1">
	  	<div class="container">
	      	<div id="outer">
			    <div id="table-container">
			        <div id="table-cell">
			            <div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<div class="intro">
									<h1>{{name}}</h1>
									<h2>{{title}}</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<!-- add loop for buttons -->
								<button type="button" class="btn btn-default">myself</button>
								<button type="button" class="btn btn-default">a few things</button>
								<button type="button" class="btn btn-default">contact</button>
							</div>
						</div>
					</div>
				</div>
		 	</div>
		</div>
    </section>

    <section class="page2">
    	<div class="container">
	      	<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="intro">
						<h1>{{name}}</h1>
						<h2>{{title}}</h2>
					</div>
				</div>
			</div>
	    </div>
    </section>
    
    <section class="page3">
    	<div class="container">
	       	<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="intro">
					<h1>{{name}}</h1>
					<h2>{{title}}</h2>
				</div>
			</div>
		</div>
    </section>
</div>

{{> footer}}