<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Philippe Roy | Web Developer | Error</title>
	<meta name="description" content="Looks Like you didn't find the page you were looking for">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/production/styles.min.css">
</head>
<body class="no-js" data-spy="scroll" data-target=".navbar-default" data-offset="50">
	<div id="error">
		<h1>I'll be here soon!</h1>
		<a href="/">Go back home</a>
	</div>
</body>
</html>
