.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 14em 126em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.bootstrap:before {
    background-position: 0em 0em;
    width: 14em;
    height: 14em;
}

.icon.css3:before {
    background-position: 0em -14em;
    width: 14em;
    height: 14em;
}

.icon.git:before {
    background-position: 0em -28em;
    width: 14em;
    height: 14em;
}

.icon.html5:before {
    background-position: 0em -42em;
    width: 14em;
    height: 14em;
}

.icon.javascript:before {
    background-position: 0em -56em;
    width: 14em;
    height: 14em;
}

.icon.mongoDB:before {
    background-position: 0em -70em;
    width: 14em;
    height: 14em;
}

.icon.node.js:before {
    background-position: 0em -84em;
    width: 14em;
    height: 14em;
}

.icon.php:before {
    background-position: 0em -98em;
    width: 14em;
    height: 14em;
}

.icon.wordpress:before {
    background-position: 0em -112em;
    width: 14em;
    height: 14em;
}

