body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  color: white; }

h1 {
  font-size: 60px;
  font-weight: 100;
  color: white; }

h2, h3 {
  font-weight: 100;
  margin-bottom: 20px; }

a {
  color: white; }
  a:hover {
    color: #EE0000;
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

.down-arrow {
  border-color: #FFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 33px;
  text-align: center;
  margin: 0 auto; }

.bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 10%; }

.nopadding {
  padding: 0 !important;
  margin: 0; }

.title {
  text-align: center; }

nav {
  text-align: center;
  font-weight: 200; }
  nav nav a {
    margin-top: 12px; }
  nav a:hover {
    color: #000;
    font-weight: 400; }
  nav .navitem {
    margin-top: 30px; }

#intro {
  height: 100vh;
  background-image: linear-gradient(160deg, #C23B22 10%, #FF6961 80%);
  position: relative; }
  #intro a:hover {
    color: #CCC; }

.intro {
  margin-top: 20%; }

#myself {
  color: black; }

#profile {
  margin-top: 30px; }
