<section id="intro">
  <div class="container">
    <div class="intro">
      <div class="row">
        <div class="col-xs-12">
          <div class="">
            <h1>{{name}}</h1>
            <h2>{{title}}</h2>
          </div>
        </div>
      </div>
      <div class="row secondary-nav">
        <ul id="intro-menu" class="nav-list ">
          <li >
            <a href="/#myself">
              <button class="navbutton">
                myself
              </button>
            </a>
          </li>
          <li >
            <a href="/#things">
              <button class="navbutton">
                a few things
              </button>
            </a>
          </li>
          <li >
            <a href="/#contact">
              <button class="navbutton">
                contact
              </button>
            </a>
          </li>
        </ul>
      </div>
      <div class="row bottom ">
        <div class="col-xs-12 visible-md-block visible-lg-block">
          <div class="down-arrow">
            <a href="/#myself">
              <i class="fa fa-angle-down"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
