<section id="things" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h2>A Few Things</h2>
          <hr>
        </div>
      </div>
    </div>
      <div id="portfolio-carousel" class="owl-carousel">
        <div class="container">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
              <a href="http://the-weather.herokuapp.com/"><img class="img-responsive" src="/images/iPhone-5-White-the-wether-channel.png" alt="..."></a>
            </div>
            <div class="col-xs-5">
              <div class="">
                <h2>Weather App</h2>
                  <p><a href="http://the-weather.herokuapp.com/">The Weather App</a> is built using Node.Js. It utilises you ip address to determine your location or you can manually enter it by providing the URL the-weather.herokuapp.com/{Country}/{City}. e.g. <a href="http://the-weather.herokuapp.com/Canada/Toronto">the-weather.herokuapp.com/Canada/Toronto</a> </p>
              </div>
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <a href="http://www.minespraytan.com/"><img class="img-responsive" src="/images/minetanWebsite.jpg" alt="minetan spaytan website"></a>
            </div>
            <div class="col-md-1">	</div>
            <div class="col-md-4">
              <div class="">
                <h2>MineTan</h2>
                <p>The MineTan e-commerce website is developed upon the upon the Big Commerce platform and all theme design development are bespoke.</p>
                <p><a href="http://www.minespraytan.com/">MineTan Website</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <img class="img-responsive" src="/images/blackCaviar.jpg" alt="...">
            </div>
            <div class="col-md-4 col-md-pull-5">
              <div class="">
                <h2>Yee HAW!</h2>
                  <p>Black Caviar is a Javascript application built while studying at RMIT University in Melbourne. It is built using three.js. Desktop only*</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container moreThings">
      <div class="row">
        <div class="col-xs-12">
          <h3><a href="/someMoreThings">some more things <span class="red"><i class="fa fa-angle-right"></i></span></a></h3>
        </div>
      </div>
    </div>
  </section>
