<section id="things" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h2>A Few Things</h2>
          <hr>
        </div>
      </div>
    </div>
      <div id="portfolio-carousel" class="owl-carousel">
        <div class="container">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
              <img class="img-responsive" src="/images/iPhone-5-White-the-wether-channel.png" alt="...">
            </div>
            <div class="col-xs-5">
              <div class="">
                <h2>Weather App</h2>
                  <p>The Weather app is web based application   built with Node.js</p>
              </div>
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="img-responsive" src="/images/minetanWebsite.jpg" alt="minetan spaytan website">
            </div>
            <div class="col-md-1">	</div>
            <div class="col-md-4">
              <div class="">
                <h2>MineTan</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <img class="img-responsive" src="/images/blackCaviar.jpg" alt="...">
            </div>
            <div class="col-md-4 col-md-pull-5">
              <div class="">
                <h2>Yee HAA!</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container moreThings">
      <div class="row">
        <div class="col-xs-12">
          <h3><a href="/someMoreThings">some more things<span class="red"><i class="fa fa-angle-right"></span></a></h3>
        </div>
      </div>
    </div>
  </section>
