<section id="things" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h2>A Few Things</h2>
          <hr>
        </div>
      </div>
    </div>
      <div id="portfolio-carousel" class="owl-carousel">
        <div class="container">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
              <a href="http://the-weather.herokuapp.com/" traget="_blank"><img class="img-responsive" src="/images/iPhone-5-White-the-wether-channel.png" alt="..."></a>
            </div>
            <div class="col-xs-5">
              <div class="">
                <h2>Weather App</h2>
                  <p><a href="http://the-weather.herokuapp.com/" traget="_blank">The Weather App</a> is built using Node.js. It determine your location based upon your ip address or you can manually enter it by providing the paramters to the URL - the-weather.herokuapp.com/{Country}/{City}.</p>
                  <p>e.g. <a href="http://the-weather.herokuapp.com/Canada/Toronto">the-weather.herokuapp.com/Canada/Toronto</a> </p>
              </div>
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <a href="http://www.minespraytan.com/" traget="_blank"><img class="img-responsive" src="/images/minetanWebsite.jpg" alt="minetan spaytan website"></a>
            </div>
            <div class="col-md-1">	</div>
            <div class="col-md-4">
              <div class="">
                <h2>MineTan</h2>
                <p>The MineTan website is an e-commerce website developed upon the upon the Big Commerce platform. It showcases a custom built theme designed specifically for Big Commerce.</p>
                <p><a href="http://www.minespraytan.com/" traget="_blank">MineTan Website <span class="red"><i class="fa fa-angle-right"></i></span></a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-push-6">
              <img class="img-responsive" src="/images/blackCaviar.jpg" alt="...">
            </div>
            <div class="col-md-4 col-md-pull-5">
              <div class="">
                <h2>Yee HAW!</h2>
                  <p>Black Caviar is a Javascript application built while studying at RMIT University in Melbourne. The site uses three.js for its 3D rendering and animations. Desktop only*</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container moreThings">
      <div class="row">
        <div class="col-xs-12">
          <h3><a href="/someMoreThings">some more things <span class="red"><i class="fa fa-angle-right"></i></span></a></h3>
        </div>
      </div>
    </div>
  </section>
