<section id="toolbelt" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Toolbelt</h2>
          <p><i>The right tool for the right job</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><hr></div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/HTML5_logo.svg" alt="HTML5" >
          <h4>HTML5</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/css3.svg" alt="CSS3" >
          <h4>CSS3</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/javascript.svg" alt="JavaScript" >
          <h4>JS</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/git.svg" alt="Git" >
          <h4>GIT</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/node.js.svg" alt="NodeJS" >
          <h4>NodeJS</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/mongoDB.svg" alt="MongoDB" >
          <h4>MongoDB</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/bootstrap.svg" alt="Bootstrap" >
          <h4>Bootstrap</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/wordpress.svg" alt="Wordpress" >
          <h4>Worpress</h4>
        </div>
        <div class="col-xs-4">
          <img class="toolbelt-img img-responsive img-thumbnail" src="/images/svg/php.svg" alt="PHP" >
          <h4>PHP</h4>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h3 id="otherTricks">other tricks of the trade <span class="red"><i class="fa fa-angle-down"></span></i>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="collapseOne">
            <div class="col-md-4"><h4>In the toolbox</h4></div>
            <div class="col-md-4"><h4>Have used more than once</h4></div>
            <div class="col-md-4"><h4>In the pipeline</h4></div>
          </div>
        </div>
      </div>
    </div>
  </section>
